<footer>
    <div class="f-info">
        <div class="f-info-socials">
           <a href="https://www.instagram.com/vaibhavprasad666/?next=%2F&hl=en"><i class="fa-brands fa-instagram" ></i></a>
            <a href="https://www.linkedin.com/in/vaibhav-prasad-b59a2b272/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/Vaibhavfprasad"><i class="fa-brands fa-github"></i></a>
        </div>
        <div class="f-info-brand">&copy; Clothing Company Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy" >Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>