<style>
  .btn-search{
    background-color: #fe424d;
    color: white;
  }
  .collections ul li:hover{
    cursor: pointer;
  }
  .cart{
    margin-right: 2rem;
    margin-top: 0.5rem;
  }
</style>
<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-solid fa-location-arrow"></i>&nbsp;&nbsp; All Collection</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        

        <!-- <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search Clothes" aria-label="Search">
            <button class="btn btn-search" type="submit">Search</button>
          </form>
        </div> -->

        <div class="navbar-nav ms-auto ">

          <a href="/cart"><i class="fa-solid fa-cart-shopping cart "></i></a>
          
          <!-- collections -->
          <div class="btn-group collections">
            <button class="btn btn-secondary btn-sm dropdown-toggle all-btn " type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Collections
            </button>
            <ul class="dropdown-menu form-select">
              <li><a class="dropdown-item" href="/listings/menscollection">Male</a></li>
              <li><a class="dropdown-item" href="/listings/womenscollection">Female</a></li>
            </ul>
          </div>
          <!-- <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="Male" url="/listings/menscollection">Male</option>
            <option value="Female" href="">Female</option>
          </select> -->



          <% if(currUser && currUser.admin==true){%>
            <a class="nav-link" href="/listings/new">add new listing</a>
         <%}%>
          <%if(!currUser){%>
            <a class="nav-link " href="/signup"><b>SignUp</b></a>
            <a class="nav-link" href="/login"><b>Login</b></a>
            
          <%}%><%if(currUser){%>
            <a class="nav-link" href="/logout"><b>LogOut</b></a>
          <%}%>
      </div>
      </div>
    </div>
  </nav>